<div class="banner">
    <div class="container text-center">
        <h1 class="home-title">Add a bookmark to your store</h1>
        <h2 class="home-subtitle">By simply filling up this form</h2>
    </div>
</div>
<div class="container d-flex justify-content-around mt-4">
    <div class="form-input">
        <%= simple_form_for([@list, @bookmark]) do |f| %>
            <%= f.label :movie_id, "Choose a movie" %>
            <%= f.select :movie_id, @movies, class: "movies-select2" %>
            <br>
            <%= f.label :content, "What's the comment?", class: "my-3"%>
            <%= f.text_field :comment, class: "form-control" %>
            <%= f.submit "Add list", class: "btn btn-primary mt-3" %>
        <% end %>
    </div>
</div>